* {
    box-sizing: border-box;
    margin: 0;
}
.nav-container {
    overflow: scroll;
    overflow-y: hidden;
    position: fixed;
    display: flex;
    height: 120px;
    width: 480px;
    bottom: 50px;
    right: 50px;
    border: 4px solid #68c10d;
}
.img-container{
    flex: 0 0 150px;
    width: 100%;
    overflow: hidden;
    border-right: 4px solid #35d412;
    cursor: pointer;
    
}
.img-container img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    object-fit: cover;
    pointer-events: none;
}
.img-container img:hover{
    transform: scale(1.25);
}
.gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}
.gallery-container img{
    width: 100%;
}